<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="far fa-sticky-note"></i> Notes</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      aria-label="Toggle navigation"
      [attr.aria-expanded]="!collapsed"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ngbDropdown>
          <a
            class="nav-link"
            id="loginDropDown"
            tabindex="0"
            role="button"
            ngbDropdownToggle
          >
            <span *ngIf="!this._AuthService.isClient()">Signin</span>
            <span *ngIf="this._AuthService.isClient()">Signout</span>
          </a>
          <div ngbDropdownMenu aria-labelledby="loginDropDown" class="dropdown-menu">
            <button *ngIf="!this._AuthService.isClient()" ngbDropdownItem routerLink='/signup'>Signup</button>
            <button *ngIf="!this._AuthService.isClient()" ngbDropdownItem routerLink='/signin'>Signin</button>
            <button *ngIf="this._AuthService.isClient()" (click)="signOut()" ngbDropdownItem routerLink='/signin'>Signout</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
