<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="w-50 m-auto pt-5">
  <div class="container mt-5">
    <div *ngIf="isSuccess" class="alert alert-success text-center" role="alert">
      <strong>{{ successMsg }}</strong>
    </div>
    <div *ngIf="isError" class="alert alert-danger text-center" role="alert">
      <strong>{{ errMsg }}</strong>
    </div>

    <input
      [ngClass]="{
        'is-invalid': f.email.touched && f.email.errors,
        'is-valid': f.email.touched && !f.email.errors
      }"
      type="email"
      placeholder="Enter Email"
      class="form-control my-3"
      formControlName="email"
    />
    <div *ngIf="f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required" class="px-2">Email is required</div>
    </div>
    <input
      [ngClass]="{
        'is-invalid': f.password.touched && f.password.errors,
        'is-valid': f.password.touched && !f.password.errors
      }"
      formControlName="password"
      type="password"
      placeholder="Enter Password"
      class="form-control my-3"
    />
    <div *ngIf="f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required" class="px-2 pb-3">
        Password is required
      </div>
    </div>

    <button
      [disabled]="signInForm.invalid"
      [ngClass]="{
        'btn-secondary': signInForm.invalid,
        'btn-info': !signInForm.invalid
      }"
      class="btn w-100"
    >
      <span
        class="spinner-border spinner-border-sm mr-1"
        *ngIf="isLoading"
      ></span>

      Sign In
    </button>
  </div>
</form>
