#profile{
    background-color: #666;
    min-height: 100vh;
    overflow: hidden;
}
.note {
    min-height: 200px;
    width: 250px;
    background-color: #cfc;
}

.dropdown-toggle::after{
    display: none;
}