<section id="profile">
  <div class="row p-5">
    <div class="col-12 d-flex justify-content-end">
      <div>
        <button class="btn btn-secondary">Add Note</button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center mt-5">
          <div class="col-md-3">
            <div class="note"></div>
          </div>
          <div class="col-md-3">
            <div class="note"></div>
          </div>
          <div class="col-md-3">
            <div class="note"></div>
          </div>
          <div class="col-md-3">
            <div class="note"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Note Row -->
</section>
